.header-img{
    height: 800px;
    width: 100%;
}
.header-content{
    display: flex;
    position: relative;
}
.header-txt{
    position: absolute;
    top: 200px;
    left: 40px;
    color: white;
    width: 600px;
}
.al{
    font-weight: 900;
    color: greenyellow;
}
.yellow-star{
    color: yellow;
}